.Menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.Menu-Item {
    display: flex;
    flex-direction: column;
    width: 150px;
    text-align: center;
}

.Menu-Item-Label {
    padding: 10px;
    border: 1px solid black;
    border-right: none;
    box-shadow: 0px 10px 10px -5px rgba(0,0,0,0.5);
}

.Menu li:last-child .Menu-Item-Label {
    border-right: 1px solid black;
}

.SubMenu {
    list-style-type: none;
    padding: 0;
    background-color: #0194ff;
    visibility: hidden;
    position: relative;
    top: -10px
}

.SubMenu li + li {
    border: 1px solid white;
}

.SubMenu-Item {
    padding: 10px 0 10px 0
}

.SubMenu-Item-Link {
    color: white;
    text-decoration:none;
}

.Menu-Item:hover .SubMenu {
    transition: all 0.3s; /* 追加 */
    visibility: visible;
    transform: translateY(10px); /*　追加 */
  }
