.Menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.Menu-Item {
    display: flex;
    flex-direction: column;
}

.Menu-Item-Label {
    padding: 10px;
    border: 1px solid black;
    border-right: none;
}

.Menu li:last-child .Menu-Item-Label {
    border-right: 1px solid black;
}

.SubMenu {
    list-style-type: none;
    padding: 0;
    background-color: #0194ff;
    visibility: hidden;
}

.SubMenu-Item {
    padding: 10px 0 10px 0
}

.SubMenu-Item-Link {
    color: white;
    text-decoration:none;
}

.Menu-Item:hover .SubMenu {
    visibility: visible;
  }
